name: build-and-deploy

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: kxnwork
  REGION: asia-south1
  CLUSTER_ZONE: asia-south1-a
  CLUSTER_NAME: gke-private-cluster
  REPO: my-repo
  IMAGE: my-app
  USE_GKE_GCLOUD_AUTH_PLUGIN: "True"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: "projects/382207431122/locations/global/workloadIdentityPools/github-pool/providers/github-provider-2"
          service_account: "github-deploy-sa@kxnwork.iam.gserviceaccount.com"

      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: kxnwork

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker asia-south1-docker.pkg.dev --quiet

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            asia-south1-docker.pkg.dev/kxnwork/my-repo/my-app:${{ github.sha }}
            asia-south1-docker.pkg.dev/kxnwork/my-repo/my-app:latest

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials $CLUSTER_NAME \
            --zone $CLUSTER_ZONE \
            --project $PROJECT_ID

      - name: Update deployment image
        run: |
          kubectl set image deployment/my-app my-app=asia-south1-docker.pkg.dev/$PROJECT_ID/$REPO/$IMAGE:${{ github.sha }}
