name: Terraform CI/CD

on:
  push:
    branches:
      - main
      - destroy   # pipeline for destroy

jobs:
  terraform:
    name: Terraform Pipeline
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v2

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -var="project_id=${{ secrets.GCP_PROJECT_ID }}"

      - name: Terraform Apply (Main branch only)
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -var="project_id=${{ secrets.GCP_PROJECT_ID }}"

      - name: Terraform Destroy (Destroy branch only)
        if: github.ref == 'refs/heads/destroy'
        run: terraform destroy -auto-approve -var="project_id=${{ secrets.GCP_PROJECT_ID }}"
